.lat-esq {
    /* background-color: rgb(124, 13, 119); */
    background-color: var(--azul-claro);
    border-radius: 0 10px 10px 0;
    border: 5px solid;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 7px;
}

.img-lat-esq{
    width: 40px;
    height: fit-content;
}

.container_contato{
    display: flex;
    align-items: center;
    gap: 0 8px;
    text-decoration: none;
    /* background-color: aqua; */
    font-size: 19px;
}

.container_contato:hover{
    scale: 1.1;
    translate: 5%;
}

.contato {
    color: var(--branco-quase);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 20px;
    /* background-color: red; */
}
