.lat-esq {
    background-color: rgb(124, 13, 119);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 7px;
}

.img-lat-esq{
    width: 40px;
    height: fit-content;
}

.img-lat-esq:hover{
    scale: 1.2;
}

.contato {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
